/* python3 -m http.server 8888 & */ /* << run that in terminal*/  
/* http://localhost:8888/ */ /* go to that website */ 

/* On mouse hover, lighten state color */
path:hover {
    fill-opacity: .7;
}

.y.axis line, 
.y.axis path {
    fill: none;
    stroke:none;
}

/* Style for Custom Tooltip */
div.tooltip {   
    position: absolute;           
    text-align: center;           
    width: 70px;                  
    height: 45px;                 
    padding: 2px;             
    font: 12px sans-serif;        
    background: white;   
    border-radius: 3px;           
    pointer-events: none;         
}

/* Legend Font Style */
#heatmap2 {
    font: 11px sans-serif;
}

/* Legend Position */
.legend {
    position:absolute;
    left:800px;
    top:350px;
}
